@charset "utf-8";
header {
  position: fixed;
  padding: 1.8em;
  z-index:1000;
  top: 0;
  left: 0;
  width: 100%;
  background:rgba(0,0,0,0);
	
}

body{
	margin:0 auto;
	padding:0;
}

.nav{
    width: 1200;
    height: 0.2px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    text-align: center;
    left: 2px;
    top: 0px;
}

.nav li{
	list-style: none;
	float: left;
	width: 200px;
	height: 100%;
	line-height: 0px;
	padding:  0em 1em 0em 3.8em;
}

.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  display: block !important;
  width: 80.3%;
  height: 60px;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
	
}

.middle{
	width:100%;
	height:5700px;
	padding-top: 100px;
}

.center{
	margin: 0 auto;
	width: 1200px;
	background-color: aqua;
}

.box1{
	float: left;
	width: 745px;
	height: 560px;
	margin-top: 40px;
}

.box2{
	float: left;
	width: 245px;
	height: 280px;
	margin-left: 20px;
}

.box3{
	float: left;
	width: 245px;
	height: 280px;
	margin-left: 20px;
	margin-top: 20px;
}

.box4{
	float: left;
	width: 500px;
	height: 280px;
	
	}

.box5{
	float: left;
	width:430px;
	height: 355px;
	margin-left: 230px;
	margin-top:186px;
	}

.box6{
	float: left;
	width: 500px;
	height: 280px;
}

.box7{
	float: left;
	width:307px;
	height:157px;
	margin-left: -93px;
}

.box8{
	float: left;
	width: 270px;
	height: 172px;
	margin-left: -780px;
	margin-top:230px;
}

.box9{
	float: left;
	width: 270px;
	height: 172px;
	margin-left: -780px;
	margin-top:230px;
}

.box10{
	float: left;
	width:270px;
	height: 172px;
	margin-left: 190px;
	margin-top:240px;
}

.box11{
	float: left;
	width:350px;
	height:250px;
	margin-left: 860px;
	margin-top:30px;
}

.box12{
	float: left;
	width:350px;
	height:270px;
	margin-left: 860px;
	margin-top:30px;
}

.box13{
	float: left;
	width:350px;
	height:270px;
	margin-left:-50px;
	margin-top:15px;
}

.box14{
	float: left;
	width:273px;
	height:150px;
	margin-left:400px;
	margin-top:15px;
}

.box15{  
	float: left;
	width:458px;
	height:270px;
	margin-left:400px;
	margin-top:15px;
}

.box16{  
	float: left;
	width:450px;
	height:305px;
	margin-left:-80px;
	margin-top:20px;
}

.box17{  
	float: left;
	width:450px;
	height:305px;
	margin-left:-460px;
	margin-top:970px;
}

.box18{  
	float: left;
	width:400px;
	height:800px;
	margin-left:800px;
	margin-top:350px;
	background-color: aqua;
}

.box19{  
	float: left;
	width:450px;
	height:305px;
	margin-left:-1300px;
	margin-top:1500px;
	
}


.intro {
    position: relative;
    color: #343144;
    background: #fff;
    padding: 6em 20em 14em 20em;
    font-family: 'Noto Serif CJK TC', 'Noto Serif CJK TC Black', 'Noto Serif CJK TC Light';
    font-size: 14px;
}

.intro-text {
  position: relative;
	width: 880px;
	font-family: 'Noto Serif CJK TC', 'Noto Serif CJK TC Black', 'Noto Serif CJK TC Light';
  font-size: 14px;
}